In [3]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [4]:
df = pd.read_csv("data_science_job.csv")

In [5]:
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,NaN,NaN,36.0,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15.0,50-99,Pvt Ltd,47.0,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5.0,NaN,NaN,83.0,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,0.0,NaN,Pvt Ltd,52.0,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,20.0,50-99,Funded Startup,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14.0,NaN,NaN,42.0,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14.0,NaN,NaN,52.0,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,50-99,Pvt Ltd,44.0,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,0.0,500-999,Pvt Ltd,97.0,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2.0,NaN,NaN,127.0,0.0

In [6]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index     479
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
training_hours             766
target                       0
dtype: int64

In [7]:
df.isnull().mean()*100

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [8]:
for col in df.columns:
    print(col,df[col].isnull().sum(),df[col].isnull().mean()*100)

enrollee_id 0 0.0
city 0 0.0
city_development_index 479 2.5002609875769912
gender 4508 23.530639941538784
relevent_experience 0 0.0
enrolled_university 386 2.0148240943731075
education_level 460 2.401085708320284
major_discipline 2813 14.68316108153252
experience 65 0.33928385008873574
company_size 5938 30.994884643490973
company_type 6140 32.04927445453596
training_hours 766 3.998329679507256
target 0 0.0

In [9]:
missing_data = {
    "Column Name": df.columns,
    "Missing Values": [df[col].isnull().sum() for col in df.columns],
    "Missing Percentage (%)": [df[col].isnull().mean() * 100 for col in df.columns],
}

missing_table = pd.DataFrame(missing_data)
print(missing_table)

               Column Name  Missing Values  Missing Percentage (%)
0              enrollee_id               0                0.000000
1                     city               0                0.000000
2   city_development_index             479                2.500261
3                   gender            4508               23.530640
4      relevent_experience               0                0.000000
5      enrolled_university             386                2.014824
6          education_level             460                2.401086
7         major_discipline            2813               14.683161
8               experience              65                0.339284
9             company_size            5938               30.994885
10            company_type            6140               32.049274
11          training_hours             766                3.998330
12                  target               0                0.000000

In [10]:
from tabulate import tabulate

table_data = [
    [col, df[col].isnull().sum(), df[col].isnull().mean() * 100]
    for col in df.columns
]
print(tabulate(table_data, headers=["Column Name", "Missing Values", "Missing Percentage (%)"], tablefmt="grid"))

+------------------------+------------------+--------------------------+
| Column Name            |   Missing Values |   Missing Percentage (%) |
+========================+==================+==========================+
| enrollee_id            |                0 |                 0        |
+------------------------+------------------+--------------------------+
| city                   |                0 |                 0        |
+------------------------+------------------+--------------------------+
| city_development_index |              479 |                 2.50026  |
+------------------------+------------------+--------------------------+
| gender                 |             4508 |                23.5306   |
+------------------------+------------------+--------------------------+
| relevent_experience    |                0 |                 0        |
+------------------------+------------------+--------------------------+
| enrolled_university    |              386 |                 2.01482  |
+------------------------+------------------+--------------------------+
| education_level        |              460 |                 2.40109  |
+------------------------+------------------+--------------------------+
| major_discipline       |             2813 |                14.6832   |
+------------------------+------------------+--------------------------+
| experience             |               65 |                 0.339284 |
+------------------------+------------------+--------------------------+
| company_size           |             5938 |                30.9949   |
+------------------------+------------------+--------------------------+
| company_type           |             6140 |                32.0493   |
+------------------------+------------------+--------------------------+
| training_hours         |              766 |                 3.99833  |
+------------------------+------------------+--------------------------+
| target                 |                0 |                 0        |
+------------------------+------------------+--------------------------+

In [11]:
pip install import-ipynb

Requirement already satisfied: import-ipynb in c:\users\intel\anaconda3\lib\site-packages (0.2)
Requirement already satisfied: IPython in c:\users\intel\anaconda3\lib\site-packages (from import-ipynb) (8.20.0)
Requirement already satisfied: nbformat in c:\users\intel\anaconda3\lib\site-packages (from import-ipynb) (5.9.2)
Requirement already satisfied: decorator in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (2.15.1)
Requirement already satisfied: stack-data in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (5.7.1)
Requirement already satisfied: colorama in c:\users\intel\anaconda3\lib\site-packages (from IPython->import-ipynb) (0.4.6)
Requirement already satisfied: fastjsonschema in c:\users\intel\anaconda3\lib\site-packages (from nbformat->import-ipynb) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\intel\anaconda3\lib\site-packages (from nbformat->import-ipynb) (4.19.2)
Requirement already satisfied: jupyter-core in c:\users\intel\anaconda3\lib\site-packages (from nbformat->import-ipynb) (5.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\intel\anaconda3\lib\site-packages (from jedi>=0.16->IPython->import-ipynb) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\intel\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\intel\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\intel\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\intel\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.10.6)
Requirement already satisfied: wcwidth in c:\users\intel\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->IPython->import-ipynb) (0.2.5)
Requirement already satisfied: platformdirs>=2.5 in c:\users\intel\anaconda3\lib\site-packages (from jupyter-core->nbformat->import-ipynb) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\intel\anaconda3\lib\site-packages (from jupyter-core->nbformat->import-ipynb) (305.1)
Requirement already satisfied: executing in c:\users\intel\anaconda3\lib\site-packages (from stack-data->IPython->import-ipynb) (0.8.3)
Requirement already satisfied: asttokens in c:\users\intel\anaconda3\lib\site-packages (from stack-data->IPython->import-ipynb) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\intel\anaconda3\lib\site-packages (from stack-data->IPython->import-ipynb) (0.2.2)
Requirement already satisfied: six in c:\users\intel\anaconda3\lib\site-packages (from asttokens->stack-data->IPython->import-ipynb) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import import_ipynb
from common import display_missing_values_table

In [21]:
df = pd.read_csv("data_science_job.csv")
display_missing_values_table(df)

+------------------------+------------------+--------------------------+
| Column Name            |   Missing Values |   Missing Percentage (%) |
+========================+==================+==========================+
| enrollee_id            |                0 |                 0        |
+------------------------+------------------+--------------------------+
| city                   |                0 |                 0        |
+------------------------+------------------+--------------------------+
| city_development_index |              479 |                 2.50026  |
+------------------------+------------------+--------------------------+
| gender                 |             4508 |                23.5306   |
+------------------------+------------------+--------------------------+
| relevent_experience    |                0 |                 0        |
+------------------------+------------------+--------------------------+
| enrolled_university    |              386 |                 2.01482  |
+------------------------+------------------+--------------------------+
| education_level        |              460 |                 2.40109  |
+------------------------+------------------+--------------------------+
| major_discipline       |             2813 |                14.6832   |
+------------------------+------------------+--------------------------+
| experience             |               65 |                 0.339284 |
+------------------------+------------------+--------------------------+
| company_size           |             5938 |                30.9949   |
+------------------------+------------------+--------------------------+
| company_type           |             6140 |                32.0493   |
+------------------------+------------------+--------------------------+
| training_hours         |              766 |                 3.99833  |
+------------------------+------------------+--------------------------+
| target                 |                0 |                 0        |
+------------------------+------------------+--------------------------+

In [66]:
cols = [var for var in df.columns if(df[var].isnull().mean()*100 < 5.0 and df[var].isnull().mean()*100 > 0.0)]

In [64]:
cols

['enrollee_id',
 'city',
 'city_development_index',
 'relevent_experience',
 'enrolled_university',
 'education_level',
 'experience',
 'training_hours',
 'target']

In [40]:
type(df.columns)

pandas.core.indexes.base.Index