In [111]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
# Load dataset
df = pd.read_csv("cars.csv")
# Split data
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, 0:4], df.iloc[:, -1], test_size=0.2, random_state=2)
transformer = ColumnTransformer(transformers=[
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first',dtype=np.int32),['fuel','owner'])
],remainder='passthrough')
X_train_new = transformer.fit_transform(X_train)
X_train_new = pd.DataFrame(X_train_new)

In [113]:
X_train_new

      0  1  2  3  4  5  6         7       8
0     1  0  0  0  0  0  0   Hyundai   35000
1     1  0  0  0  0  0  0      Jeep   60000
2     0  0  1  0  0  0  0   Hyundai   25000
3     1  0  0  0  1  0  0  Mahindra  130000
4     1  0  0  0  0  0  0   Hyundai  155000
...  .. .. .. .. .. .. ..       ...     ...
6497  1  0  0  0  0  0  0      Ford   35000
6498  0  0  1  0  0  0  0    Maruti  120000
6499  0  0  1  0  0  0  0      Tata   15000
6500  1  0  0  0  1  0  0    Maruti   32500
6501  1  0  0  0  0  0  0     Isuzu  121000

[6502 rows x 9 columns]

In [139]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
# Load dataset
df = pd.read_csv("cars.csv")
# Split data
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, 0:4], df.iloc[:, -1], test_size=0.2, random_state=2)
# Apply ColumnTransformer with OneHotEncoder
transformer = ColumnTransformer(transformers=[
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first', dtype=np.int32), ['brand','fuel', 'owner'])
], remainder='passthrough')
# Fit and transform training data
X_train_new = transformer.fit_transform(X_train)
# Generate column names for the new DataFrame
ohe_features = transformer.named_transformers_['tnf3'].get_feature_names_out(['brand','fuel', 'owner'])
passthrough_features = X_train.columns.difference(['brand','fuel', 'owner'], sort=False)
all_features = np.hstack((ohe_features, passthrough_features))
# Create DataFrame with proper column names
X_train_new = pd.DataFrame(X_train_new, columns=all_features)
# Display the transformed DataFrame
print(X_train_new.head())

   brand_Audi  brand_BMW  brand_Chevrolet  brand_Daewoo  brand_Datsun  \
0           0          0                0             0             0
1           0          0                0             0             0
2           0          0                0             0             0
3           0          0                0             0             0
4           0          0                0             0             0

   brand_Fiat  brand_Force  brand_Ford  brand_Honda  brand_Hyundai  ...  \
0           0            0           0            0              1  ...
1           0            0           0            0              0  ...
2           0            0           0            0              1  ...
3           0            0           0            0              0  ...
4           0            0           0            0              1  ...

   brand_Volkswagen  brand_Volvo  fuel_Diesel  fuel_LPG  fuel_Petrol  \
0                 0            0            1         0            0
1                 0            0            1         0            0
2                 0            0            0         0            1
3                 0            0            1         0            0
4                 0            0            1         0            0

   owner_Fourth & Above Owner  owner_Second Owner  owner_Test Drive Car  \
0                           0                   0                     0
1                           0                   0                     0
2                           0                   0                     0
3                           0                   1                     0
4                           0                   0                     0

   owner_Third Owner  km_driven
0                  0      35000
1                  0      60000
2                  0      25000
3                  0     130000
4                  0     155000

[5 rows x 38 columns]

In [142]:
transformer.named_transformers_['tnf3']

OneHotEncoder(drop='first', dtype=<class 'numpy.int32'>, sparse_output=False)

In [144]:
l = list(ohe_features)

In [146]:
for i in l:
    print(i)
print(len(l))

brand_Audi
brand_BMW
brand_Chevrolet
brand_Daewoo
brand_Datsun
brand_Fiat
brand_Force
brand_Ford
brand_Honda
brand_Hyundai
brand_Isuzu
brand_Jaguar
brand_Jeep
brand_Kia
brand_Land
brand_Lexus
brand_MG
brand_Mahindra
brand_Maruti
brand_Mercedes-Benz
brand_Mitsubishi
brand_Nissan
brand_Opel
brand_Peugeot
brand_Renault
brand_Skoda
brand_Tata
brand_Toyota
brand_Volkswagen
brand_Volvo
fuel_Diesel
fuel_LPG
fuel_Petrol
owner_Fourth & Above Owner
owner_Second Owner
owner_Test Drive Car
owner_Third Owner
37

In [ ]:
ohe_features